<div ng-app="NumbersApp" style="background-color:rgba(255, 255, 255, 0.85);border-radius:25px;">
    <div ng-controller="HomeController">
        <div style="width:100%;background-color:rgba(255, 255, 255, 0.85);border-radius:25px; display:none">
            <div style="width:300px; margin:0 auto; padding-bottom:10px; padding-top:10px;">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="year">Select Year</label>
                        <select class="form-control" id="year" name="year">
                            <option value='0'>2014-2015</option>
                            <option value='1'>2013-2014</option>
                            <option value='2'>2012-2013</option>
                            <option value='3'>2011-2012</option>
                            <option value='4'>2010-2011</option>
                            <option value='5'>2009-2010</option>
                            <option value='6'>2008-2009</option>
                            <option value='7'>2007-2008</option>
                            <option value='8'>2006-2007</option>
                            <option value='9'>2005-2006</option>
                            <option value='10'>2004-2005</option>
                            <option value='11'>2003-2004</option>
                            <option value='12'>2002-2003</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="campus">Select Campus</label>
                        <select class="form-control" id="campus" name="campus">
                            <option value="0">All</option>
                            <option value="1">Ann Arbor</option>
                            <option value="2">Flint</option>
                            <option value="3">Dearborn</option>
                        </select>
                    </div>
                    <input type="submit" value="Search" class="formbutton" />
                </form>
            </div>
        </div>
        <div style="width:100%;background-color:rgba(255, 255, 255, 0.85);border-radius:25px;">
            <div style="width:300px; margin:0 auto; padding-bottom:10px; padding-top:10px;">
                <form class="form-inline">
                    <div class="form-group">
                        <label for="year">Select Year</label>
                        <select class="form-control" id="searchYear" name="year">
                            <option value='2015-2016'>2015-2016</option>
                            <option value='2014-2015'>2014-2015</option>
                            <option value='2013-2014'>2013-2014</option>
                            <option value='2012-2013'>2012-2013</option>
                            <option value='2011-2012'>2011-2012</option>
                            <option value='2010-2011'>2010-2011</option>
                            <option value='2009-2010'>2009-2010</option>
                            <option value='2008-2009'>2008-2009</option>
                            <option value='2007-2008'>2007-2008</option>
                            <option value='2006-2007'>2006-2007</option>
                            <option value='2005-2006'>2005-2006</option>
                            <option value='2004-2005'>2004-2005</option>
                            <option value='2003-2004'>2003-2004</option>
                            <option value='2002-2003'>2002-2003</option>
                        </select>
                    </div>
                    <input type="submit" value="Search" class="formbutton" ng-click="Search()"/>
                </form>
            </div>
        </div>
        <div ng-show="loading">
            <img src="~/Content/spinner.gif" alt="Loading" align="middle" title="Loading" style="margin:0 auto; padding-bottom:10px; padding-top:10px;" />
        </div>
        <div style="width:100%;background-color:rgba(157, 157, 157,0.90);border-radius:25px;" ng-show="showTable">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name </th>
                        <th>Title</th>
                        <th>Department</th>
                        <th>FTR</th>
                        <th>GF</th>
                        <th>Year</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in resultList">
                        <td> {{item.Name}}</td>
                        <td> {{item.Title}}</td>
                        <td> {{item.Department}}</td>
                        <td> {{item.FTR}}</td>
                        <td> {{item.GF}}</td>
                        <td> {{item.Year}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div style="width:100%;background-color:rgba(255, 255, 255, 0.5);border-radius:25px;" ng-show="showNoResults">
            <p>No results found</p>
        </div>
    </div>
</div>


